@font-face {
  font-family: "SF Compact";
  src: url("~fonts/SF-Compact-Display-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact";
  src: url("~fonts/SF-Compact-Display-Ultralight.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
