$fontFamily: "SF Compact", sans-serif;
$minWidth: 320px;
$maxWidth: 1600px;

// colors
$bg-c: #dbeeee;
$text-c: #3d9090;
$accent-zero-c: #bddddd;
$accent-one-c: #94a6a6;
$accent-two-c: #e4d7b9;
$diviner-c: #c4c4c4;
